:root {
    --my-bg-top: rgb(58, 84, 109);
    --my-bg-bottom: rgb(44, 62, 80);
}

.my-bg-teal {
    background-color: var(--bs-teal);
}

.hero {
    width: 250px;
}

.my-img {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.my-img:hover:after {
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(172, 255, 47, 0.311);
    color: white;
    font-size: 5em;
    font-weight: bold;
}



.top-footer {
    background-color: var(--my-bg-top);
}

.bottom-footer {
    background-color: var(--my-bg-bottom);
}

